body{font-family: 'Lato', sans-serif;}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.Head{
    background-color: rgb(18, 140, 126);
    padding: 25px;
}
.row img{
    width: 12%;
    margin: auto;
    padding-top: 4px;
}

.Head a{
    text-decoration: none;
    color: rgb(241, 235, 235);
    width: 12%;
    margin: 10px 5px 2px 5px;
    
}

.section1{
    width: 60%;
    margin: auto;
    
}
.sec1{
    width: 50%;
    margin: auto;
}
.s1{
    font-size:40px;
}
.s2{
    font-size: 20px;
}
.s21{
    font-size: 15px;
}

.sec1 img{
    width: 50%;
    margin-top: 30px;
}

.section2{
    width: 100%;
    margin: auto;
}
.sec2{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(147, 178, 179);
}

.sc1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.sc2{
    font-size: 15px;
    text-align: center;
}
.sc3{
    font-size: 15px;
    text-align: center;
    
}
.sec2 img{
    width: 70%;
    margin: auto;
    margin-left: 70px;
    
}
.sec21{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(231, 236, 228);
}
.sec21 img{
    width: 80%;
    margin: auto;
    margin-left: 50px;
}
.sc{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}
.Button{
    width: 20%;
    margin: auto;
    margin-top: 50px;
}
.Button a{
    text-decoration: none;
    border: 2px solid rgb(18, 140, 126);
    border-radius: 25px;
    color: rgb(18, 140, 126);
    padding: 15px 25px;
}
.section4{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(48, 59, 71);
}
.sec4{
    width: 25%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 40px 0px 10px 0px;
}
.sec4 a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 10px 2px 10px 2px;
}
.conc {
    
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    padding: 70px 0px 60px 0px;
    
}
.conc1 {
    
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 0px 10px 0px;
}

.conc1 a:hover{
    text-decoration: line solid white 2px;
}

.section5{
    width: 100%;
    background-color: black;
}
.foot{
    width: 15%;
    margin: auto;
    padding: 5px 0px 5px 0px;
}
